/*顶部导航*/
.nav {
    height: 140px;
    background: url("../images/tmp_r1_c2.png");
}

.nav_w {
    width: 1260px;
    margin: 0 auto;
    position: relative;
}

.nav .nav_w img {
    margin-top: 25px;
}

.city_btn {
    width: 56px;
    height: 23px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    border-radius: 4px;
    margin-top: 55px;
    margin-left: 10px;
    cursor: pointer;
}

.city_box {
    width: 179px;
    height: 33px;
    padding-left: 1px;
    border-radius: 3px;
    box-shadow: 0 5px 5px 0 white;
    background: #ffffff;
    position: absolute;
    top: 80px;
    left: 315px;
}

.city_box a {
    margin-top: 1px;
    display: inline-block;
    color: #666666;
    font-size: 12px;
    height: 31px;
    width: 56px;
    line-height: 31px;
    text-align: center;
}

.city_btn span {
    background: url("../images/dot01.png");
    display: inline-block;
    width: 7px;
    height: 6px;
}

.nav .nav_ul {
    margin-top: 20px;
}
.nav_ul_bg {
    background: url("../images/nav.png") no-repeat;
    width: 834px;
    height: 54px;
    margin-top: 35px;
}

.nav .nav_ul li {
    display: inline-block;
    text-align: center;
    width: 119px;
    font-size: 14px;
    float: left;
    height: 32px;
    padding-top: 25px;
    margin-top: -25px;
    cursor: pointer;
}

.nav_wbwx {
    position: absolute;
    right: 170px;
    top: 75px;
}

.nav_wb a {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.nav_wx a {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 45px;
    bottom: 0;
}

.nav_tb {
    position: absolute;
    right: 120px;
    top: 75px;
}

.nav_zfb {
    position: absolute;
    right: 5px;
    top: 75px;
}
/*导航二维码*/
.nav_wbewm,.nav_wxewm{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 12px;
    bottom: -118px;
    display: none;
}
.nav_wbewm{
    background: url("../images/tmp_r13_c10.jpg");
    right: -38px;
}
.nav_wxewm{
    background: url("../images/tmp_r13_c12.jpg");
}
/*========================================================*/
/*大图*/
.banner {
    width: 100%;
    height: 750px;
    margin: 0 auto;
    overflow: hidden;
}
.banner div{
    width: 1000px;
    margin: auto;
}
.banner a {
    display: block;
    margin-left: -460px;
    width: 100%;
}
/*========================================================*/
.activity_bg {
    height: 250px;
    background: url("../images/tmp_r11_c4.jpg");
}

.content_title {
    margin-bottom: 80px;
    height: 230px;
    margin-top: -240px;
    background: url("../images/activice.png") no-repeat;
}

.content_title > p {
    font-size: 12px;
    padding-left: 215px;
    padding-top: 110px;
}

.content_title > div {
    padding-left: 315px;
    padding-top: 18px;
}

.content_title a {
    display: inline-block;
    color: #666666;
    font-size: 18px;
    line-height: 40px;
    padding: 0 45px;
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin-right: 8px;
}

/*.content_title>div a:nth-child(1){
    color: white;
    background: #B08746;
    border-color: #B08746;
}*/
.content_title a:hover {
    border-color: #B08746;
    color: white;
    background: #B08746;
}

.banner_uu > li {
    margin-bottom: 50px;
}

.banner_uu > li:hover .content_1_dibu {
    background: #000000;
}

.banner_uu > li:hover .content_1_dibu > span {
    background: url("../images/more2.png");
}

.banner_uu > li:hover .content_1_dibu > div {
    background: url("../images/new2.png") no-repeat center center;
}

.content_1_dibu {
    position: relative;
    background: #B08746;
    height: 130px;
    padding-left: 30px;
}

.content_1_dibu > h3 {
    font-size: 26px;
    padding-top: 20px;
    color: white;
}

.content_1_dibu > span {
    display: inline-block;
    width: 124px;
    height: 9px;
    background: url("../images/more1.png");
    margin-top: 5px;
}

.content_1_dibu > div {
    position: absolute;
    background: url("../images/new1.png") no-repeat center center;
    width: 86px;
    height: 130px;
    right: 20px;
    top: 0;
}

.content_1 .bq {
    padding-top: 20px;
    text-align: center;
}

.bot_nav {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
}

.bot_nav li {
    display: inline;
    margin: 0 auto;
}

.bot_nav li > a {
    display: inline-block;
    color: #ffffff;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #000;
}

.bot_nav li > a:hover {
    background: #B08746;
}

.feiji {
    text-align: center;
    margin-bottom: 20px;
}

.footer {
    height: 240px;
    padding-top: 60px;
    background: url("../images/bg.jpg");
    color: white;
}

.footer_left {
    padding-left: 25px;
    background: url("../images/tb.png") no-repeat 0 5px;
}

.footer_left p:nth-child(2) {
    font-size: 32px;
    color: #B08746;
}

.footer_left p:nth-child(3) {
    font-size: 12px;
    color: #B08746;
}

.footer_left p:nth-child(5), .footer_left p:nth-child(6) {
    margin-top: 20px;
}

.footer_left p:nth-child(7) {
    margin-top: 10px;
}

.footer_left p:nth-child(7) > a:hover {
    color: #B08746;
}


.footer_right > p {
    margin-bottom: 10px;
    padding-left: 40px;
    background: url("../images/er.png") no-repeat 10px 3px;
}

.footer_right .erwm p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.erwm {
    text-align: center;
    margin-right: 128px;
}

.erwm p {
    font-size: 10px;
    color: #B08746;
}

.erwm span {
    font-size: 14px;
    color: #ffffff;
}
.erwm i {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../images/wbwx.png") no-repeat -183px;
}

.footer .w {
    position: relative;
}

.wxerwm {
    margin-right: 0;
    position: absolute;
    right: 10px;
}

.wxerwm i {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../images/wbwx.png") no-repeat -133px;
}

.footer .bot {
    width: 1180px;
    margin: 0 auto 100px;
    text-align: center;
}

.footer .bot img {
    margin-top: -25px;
}

.footer .bot > a {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 224px;
    height: 32px;
    background: #B08746;
    line-height: 32px;
    border-radius: 16px;
    font-size: 20px;
}

.footer .bot > p {
    color: #000;
    font-size: 12px;
}

.footer .bot > p a {
    color: #B08746;
}
/*手风琴*/

.lbt_box {
    margin: -50px auto 20px;
    overflow: hidden;
}

.lbt_box li {
    display: inline-block;
    /*height: 400px;*/
    float: left;
    /*overflow: hidden;*/
    position: relative;
}

.lbt_box ul {
    display: block;
    width: 1180px;
    padding: 0 40px;
    height: 400px;
    text-align: center;
    margin: auto;
}
.lbt_box li a{
    display: inline-block;
    height: 400px;
    width: 275px;
}
.lbt_box i{
    display: inline-block;
    width: 241px;
    height: 147px;
    position: absolute;
    left: 450px;
    top: 126px;
    /*z-index: -1;*/
    background: url("../images/vdeo.png") no-repeat;
}